In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("CSV/cereals.csv")

In [6]:
df[["name","rating"]]

                        name     rating
0                  100% Bran  68.402973
1          100% Natural Bran  33.983679
2                   All-Bran  59.425505
3  All-Bran with Extra Fiber  93.704912
4             Almond Delight  34.384843
5    Apple Cinnamon Cheerios  29.509541
6                Apple Jacks  33.174094
7                    Basic 4  37.038562
8                  Bran Chex  49.120253
9                Bran Flakes  53.313813