In [19]:
import pandas as pd
import numpy as np

In [20]:
d1={"Gender":["female","male","female","male"],"Score":[85,88,95,80]}
df=pd.DataFrame.from_dict(d1)

In [21]:
df

   Gender  Score
0  female     85
1    male     88
2  female     95
3    male     80

In [22]:
df.groupby(df["Gender"]).mean()

        Score
Gender
female   90.0
male     84.0

In [23]:
df.groupby(df["Gender"]).sum()

        Score
Gender
female    180
male      168

In [24]:
df.groupby(df["Gender"]).std()

           Score
Gender
female  7.071068
male    5.656854