In [23]:
import pandas as pd
import numpy as np

In [24]:
l1=[[i,i**2,i**3] for i in range(5,11)]

In [25]:
twoDarray=np.array(l1)

In [26]:
dataFrame=pd.DataFrame(twoDarray,columns=["Number","Square","Cube"])
dataFrame.set_index("Number")

        Square  Cube
Number
5           25   125
6           36   216
7           49   343
8           64   512
9           81   729
10         100  1000

In [27]:
print(dataFrame)

   Number  Square  Cube
0       5      25   125
1       6      36   216
2       7      49   343
3       8      64   512
4       9      81   729
5      10     100  1000

In [28]:
dataFrame.set_index("Number",inplace=True)

In [29]:
print(dataFrame)

        Square  Cube
Number
5           25   125
6           36   216
7           49   343
8           64   512
9           81   729
10         100  1000