In [22]:
import pandas as pd

In [23]:
df=pd.read_csv("CSV/cereals.csv")

In [24]:
df[3::2]
# list slicing==dataframe slicing

                        name  calories  protein  vitamins     rating
3  All-Bran with Extra Fiber        50        4        25  93.704912
5    Apple Cinnamon Cheerios       110        2        25  29.509541
7                    Basic 4       130        3        25  37.038562
9                Bran Flakes        90        3        25  53.313813

In [25]:
df[3::2].describe()

         calories   protein  vitamins     rating
count    4.000000  4.000000       4.0   4.000000
mean    95.000000  3.000000      25.0  53.391707
std     34.156503  0.816497       0.0  28.652770
min     50.000000  2.000000      25.0  29.509541
25%     80.000000  2.750000      25.0  35.156307
50%    100.000000  3.000000      25.0  45.176187
75%    115.000000  3.250000      25.0  63.411588
max    130.000000  4.000000      25.0  93.704912